body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header{
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    background: #1f2937;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.body{
    display: flex;
    flex-direction: column;
}

.container{
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 300px;
  }

ul{
    list-style: none;
    margin: 5px;
    padding: 10px;
    gap: 16px
}

.quotes{
    font-size: 34px;
    font-style: italic;
    background-color: #e5e7eb;
    padding: 50px;
}

.cta{
    
}

.footer{
    color: #f9faf8;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}